services:
  db:
    image: postgis/postgis:15-3.5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: kindly
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "kindly"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build: ./backend
    env_file: "./backend/.env"
    environment:
      DEV: 1
      DB_URL: "postgresql+asyncpg://postgres:postgres@db:5432/kindly"
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - ./backend/app:/app/app
      - ./backend/scripts:/app/scripts

  frontend:
    build: ./frontend
    env_file: "./frontend/.env.local"
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
